.form-container {
  margin: 40px auto;
  width: 50vw;
  height: 90vh;
  border: 2px solid black;
  border-style: outset;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
}

form {
  margin-top: 100px;
  font-family: "Bangers", cursive;
  text-align: center;
}

.form-field {
  margin-bottom: 14px;
}

label {
  margin-right: 14px;
  font-size: 1.5rem;
}

input {
  font-size: 1.5rem;
}

select {
  font-size: 1.5rem;
}

button:not(:last-child) {
  margin-right: 14px;
}